<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://sdk.inbenta.io/chatbot/1.16.0/inbenta-chatbot-sdk.js"></script>

  <title>Help desk TI </title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">HelpDesk TI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Trabaja con nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
        <img src="static/img/1.png" alt="help desk">
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Mesa de servicios</h2>
          <p class="lead">Nuestra Mesa de Servicios está diseñada para ser el único punto de contacto de sus usuarios y se encarga de recibir, registrar, diagnosticar, solucionar, documentar y cerrar los posibles incidentes o solicitudes de servicio relacionados con las tecnologías de la información y los procesos de su negocio, a través de plataformas y personas altamente capacitadas para gestionarlas de forma oportuna</p>
          <p class="lead">Se diseña aplicando un modelo de gobierno y considerando las buenas prácticas de ITIL® y  COBIT®</p>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Punto Unico de Contacto</h2>
          <p class="lead">La Mesa de Servicios será el único punto de contacto entre el equipo de TI y los usuarios finales, y contará tanto con canales de atención como con canales de solución, obteniendo así una visión única del usuario.</p>
          <h2>Incorporar la capacidad</h2>
          <p class="lead">Gestión y ejecución de aquellas actividades orientadas a una correcta y efectiva implementación de una Mesa de Servicios, en donde se incorporan las capacidades reales y acordes al diseño.</p>
          <h2>Disponibilidad</h2>
          <p class="lead">Gracias a nuestro talento humano, que de manera integral y cumpliendo los lineamientos de mejores prácticas, se logra un máximo nivel de productividad de los usuarios y el mayor grado de disponibilidad de los servicios, recursos informáticos, tecnológicos y de comunicación que estos emplean en su gestión diaria.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Trabaja con nosotros</h2>
          <p class="lead">¡Para nosotros es muy grato que quieras hacer parte de nuestra familia! 

            Aquí podrás conocer las ofertas de empleo activas que tenemos para ti. Envíanos tu hoja de vida al correo seleccionhelpdesk@gmail.comy así participarás en los procesos de selección que se ajusten a tu perfil</p>
        
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contactanos</h2>
          <p class="lead"> Siempre a tu disposición con nuestra Línea de Atención</p>
          <strong>Línea Nacional (línea Gratuita):
            018000 515889.

          </strong>
          <p>
            <strong>
              Medellín, Bogotá o Cali:
              439 8878.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <figure class="figure">
                <h5>Grafo Help Desk</h5>
                  <img src="/static/files/red_petri.png" class="figure-img img-fluid rounded" alt="Grafo">
                  <figcaption class="figure-caption">Grafo help desk.</figcaption>
                </figure>
                <h5>Descarga el codigo</h5>
                <a class="button-blue" href="/static/files/desk.ipynb" download="HelpDesk.ipynb">Descargar ipynb</a>
                <h5>Descarga las imagenes del codigo</h5>
                <a class="button-blue" href="/static/files/imagenes.pdf" download="Imagenes.pdf">Descargar Imagenes del codigo</a>
          </div>
        </div>
      </div>
    </section>

    <section id ="contact">
        <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                  <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Tarea</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">preguntas</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Saludos</td>
                          <td>responde cuando se le indica un saludo</td>
                          <td>Buenos Dias, Buenas noches, Buenas tardes</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>validar usuario</td>
                          <td>se quiere desbloquear el usuario de red en el sistema</td>
                          <td>no me permite el acceso con mi usuario a las aplicaciones, mi usuario esta bloqueado</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>brindar soporte</td>
                          <td>el usuario indica que quiere reportar las aplicaciones </td>
                          <td>mis aplicaciones estan malas, me puedes ayudar, aplicacion: el correo, la navegacion</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>validar estado de solicitud</td>
                            <td>el usuario indica que quiere averiguar el estado de su solicitud</td>
                            <td>cuando atenderan mi solicitud, cual es el estado de mi pedido</td>
                          </tr>
                          <tr>
                              <th scope="row">1</th>
                              <td>Despedida</td>
                              <td>responde cuando el usuario agradece</td>
                              <td>gracias, muchas gracias</td>
                      </tbody>
                    </table>

      </section>

  <!-- Image from left -->
  <div class="dere">
    <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/1110a4f0-7689-4a5f-9907-791b57cbd61a">
    </iframe>
  </div>
 
    <div class="inbenta-bot__launcher__image">
      <button type="button" class="btn btn-outline-info">¿Tienes alguna duda? Pregúntanos</button>
    </div>
    
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
